.form-group div{
  display: inline;
}

.clear{
  clear: both;  
}

#error_explanation{
  background-color: #faf3e9;
  border-left: 3px solid #f0ad4e;
  padding: 5px 20px;
  margin: 10px;

  h2{
    font-size: 20px;
    color: #f0ad4e;
  }
}

.left{
  float: left !important;
}

.right{
  float: right !important;
}


#notice{
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;

  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}