.form-group div{
  display: inline;
}

#error_explanation{
  background-color: #faf3e9;
  border-left: 3px solid #f0ad4e;
  padding: 5px 20px;
  margin: 10px;

  h2{
    font-size: 20px;
    color: #f0ad4e;
  }
}