<ul>
  <% category.children.each do |subcategory| %>
    <li> <%= link_to subcategory.name, products_path(:category => subcategory.slug)  %> </li>

    <%= render :partial => 'subcategories', :locals => {:category => subcategory} %>
  <% end %>
</ul>