<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<% if @category.additional_fields %>
  <p>
    <strong>Additional fields:</strong>
    <%= @category.additional_fields.map{|key, value| key }.join(', ') %>
  </p>
<% end %>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
