<% @obj_with_additional_fields.nested_additional_fields.try :each do |key, value| %>
  <div class="form-group">
    <%= label_tag "product[additional_fields][#{key}]", key, :class => 'control-label' %><br>
    <%= text_field_tag "product[additional_fields][#{key}]", @product.new_record? ? '' : @product.additional_fields[key], :class => 'form-control'  %>
  </div>
<% end %>
